[Unit]
Description=Static multicast routing daemon
Documentation=man:smcroute
Documentation=file:/usr/local/share/doc/smcroute/README.md
Documentation=https://github.com/troglobit/smcroute
# ConditionPathExists=/etc/smcroute.conf
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/smcroute
ExecStart=/usr/local/sbin/smcrouted -n -s $SMCROUTED_OPTS
ExecReload=/usr/local/sbin/smcroutectl restart

# Hardening settings
NoNewPrivileges=true
ProtectControlGroups=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target

